@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
}

html {
    font-family: 'Space Grotesk', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: hsla(225, 89%, 22%, 0.9);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #020017;
}

.main {
    background-color:#020017;
    background-image: radial-gradient(at 0% 0%, hsla(240, 100%, 0%, 0.5) 0, transparent 100%);
}

.home {
    background-image: 
        radial-gradient(at 58% 0%, hsla(225, 89%, 22%, 0.9) 0, transparent 15%),   
        radial-gradient(at 65% 0%, hsla(197, 78%, 52%, 0.5) 0, transparent 17%),
        radial-gradient(at 50% 90%, hsla(225, 89%, 22%, 0.5) 0, transparent 20%),  
        radial-gradient(at 60% 90%, hsla(197, 78%, 52%, 0.3) 0, transparent 17%);
}

.navbar {
    background-image: 
        radial-gradient(at 50% 90%, hsla(225, 89%, 22%, 0.5) 0, transparent 20%),  
        radial-gradient(at 50% 90%, hsla(197, 78%, 52%, 0.3) 0, transparent 27%);
}

.coinpage{
    background-color:#020017;
    background-image: 
        radial-gradient(at 50% 50%, hsla(225, 89%, 22%, 0.5) 0, transparent 60%),  
        radial-gradient(at 50% 50%, hsla(197, 78%, 52%, 0.3) 0, transparent 27%),
        radial-gradient(at 0% 0%, hsla(240, 100%, 0%, 0.5) 0, transparent 100%);
}

.coinsList {
    background-image: 
     radial-gradient(at 58% -20%, hsla(225, 89%, 22%, 0.9) 0, transparent 15%),   
     radial-gradient(at 60% -20%, hsla(197, 78%, 52%, 0.4) 0, transparent 17%);
}

.results {
    background-color:#020017;
    background-image:
        radial-gradient(at 58% 0%, hsla(225, 89%, 22%, 0.9) 0, transparent 15%),   
        radial-gradient(at 65% 0%, hsla(197, 78%, 52%, 0.5) 0, transparent 17%),
        radial-gradient(at 50% 50%, hsla(225, 89%, 22%, 0.5) 0, transparent 60%),   
        radial-gradient(at 0% 0%, hsla(240, 100%, 0%, 0.5) 0, transparent 100%);
}

@media (max-width: 425px){
    .main {
        background-color:#020017;
        background-image: 
            radial-gradient(at 80% -10%, hsla(225, 89%, 22%, 1) 0, transparent 20%),   
            radial-gradient(at 70% -30%, hsl(197, 78%, 52%) 0, transparent 25%);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-100%);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}

@keyframes marquee {
    0% {left: 0}
    100% {left: -100%}
}

.animate {
    width: 200%;
    animation: marquee 20s linear infinite;
    top: 50%;
    transform: translate(0, -50%);
}

.animate:hover {
    animation-play-state: paused;
}

.bitcoin {
    animation: bounce 4s infinite;
}